* {
    box-sizing: border-box;
}

header figure {
    display: inline-block;
    margin-left: 10%;
}

.overlay {
    min-height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../images/common/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.three-five-opaque {
    background-color: rgba(0, 0, 0, 0.35);
}

.seven-five-opaque {
    background-color: rgba(0, 0, 0, 0.75);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px) brightness(60%);
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.border {
    border: 3px solid black;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #008c7d;
    border-bottom: 3px solid #00a393;
    z-index: 2;
}

footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #008c7d;
    z-index: 2;
}

footer p {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

.pre-footer {
    margin-top: 72px;
}

footer a:hover {
    color: #ffffff;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart > img {
    width: 24px;
    height: 24px;
    vertical-align: text-top;
}

.logout-section {
    margin-right: 10%;
    margin-top: 10px;
    float: right;
    height: 30px;
    text-align: right;
}

.logout-section a {
    vertical-align: middle;
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}

.logout-section a img {
    vertical-align: text-top;
}

.username {
    font-style: italic;
}

/*Common components*/
.modal-form {
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
}

.modal-form h1 {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 5% 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #888;
    border-bottom: none;
}

/* Textarea */
#textarea {
    width: 291px;
    height: 216px;
    border-radius: 5px;
    background-color: #ffffff;
}

#textarea:focus {
    border: solid 3px rgba(41, 136, 121, 0.41);
}

#textarea:invalid {
    border: solid 3px #ff0000;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 23px;
}

.switch label {
    position: absolute;
    left: 56px;
    bottom: -5px;
    width: 100px;
    font-family: PTSans, sans-serif;
    font-size: 14px;
    text-align: left;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border: 1px solid #2e8879;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 26px;
    bottom: 2px;
    background-color: #2e8879;
}

input:checked + .slider {
    background-color: #2e8879;
}

input:checked ~ .ava {
    color: #2e8879;
}

input:checked + .slider:before {
    background-color: #ffffff;
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px);
}

/* Range sliders */
#price-slider-range, #rating-slider-range {
    margin-top: 20px;
    background-color: #888888;
    border: none;
    height: 2px;
}

#price-slider-range {
    width: 434px;
}

#rating-slider-range {
    width: 229px;
}

#price-slider-range .ui-slider-range,
#rating-slider-range .ui-slider-range {
    z-index: 3;
    background-color: #2e8879;
}

#price-slider-range span,
#rating-slider-range span{
    margin-top: -5px;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    background-color: #2e8879;
}

#price-slider-range span:focus,
#rating-slider-range span:focus {
    outline:none;
}

#price-slider-range b,
#rating-slider-range b {
    display: inline-block;
    padding-top: 15px;
    font-family: PTSans, sans-serif;
    font-size: 12px;
    color: #000000;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Popup content */
.popup-overlay {
    position: absolute;
    top: 50px;
    right: 30px;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
}

.popup-overlay-visible {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 750px;
    height: 171px;
    position: relative;
    /* This was a cool-looking transition
    transition: all 0.15s ease-in-out;*/
}

.popup-top {
    padding-bottom: 10px;
    height: 74px;
    border-bottom: 1px solid #2e8879;
}

.popup-inlined {
    pointer-events: auto;
}

#gender {
    margin: 0 auto;
    width: 300px;
    margin-left: 85px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Radio buttons */
#gender {
    padding-left: 20px;
}

#gender .fieldgroup {
    float: left;
    width: 90px;
}

.radio {
    vertical-align: top;
    width: 24px;
    height: 24px;
}

.radio + label {
    font-family: PTSans, sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.radio:checked + label {
    color: #2e8879;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #2e8879;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2e8879;
    opacity: 0;
}

.radio:checked + label:after {
    opacity: 1;
}

/* Custom dropdown */
.form-dropdown {
    /* Size and position */
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: url("../images/common/dropdown-arrow.png") no-repeat scroll;
    background-color: #2e8879;
    background-position: 95% 50%;
    cursor: pointer;
    outline: none;

    /* Font settings */
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-left: 13px;
}

.form-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 0;
    left: 0;
    right: 20%;
    z-index: 4;

    /* Styles */
    background: #d5fde4;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.form-dropdown .dropdown li {
    margin: 0 auto;
}

.form-dropdown .dropdown li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000000;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.form-dropdown .dropdown li a span {
    visibility: hidden;
}

/* Checked styles */
.checked {
    visibility: visible;
}

/* Hover state */
.form-dropdown .dropdown li a:hover {
    color: #ffffff;
    background: #26a0f8;
}

/* Active state */
.form-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* Modal Content */
.form-content label {
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
}

.form-content {
    padding: 5% 10%;
    margin: 0 auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hatching {
    background: #ecebe9 url(../images/common/hatching.png) fixed;
}

.form-content button {
    float: right;
    margin-top: 5%;
}

.clear {
    clear: both;
}

.text-input {
    font-family: 'PTSans', sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 5px;
}

.text-input:focus {
    outline: none !important;
    border: 3px solid #95bbb4
}

.text-input:invalid {
    border-radius: 5px;
    border: solid 3px #ff0000;
}

.text-input-big {
    padding-left: 5%;
    padding-right: 10%;
    height: 50px;
    font-size: 1.2em;
    text-overflow: ellipsis;
}

.text-input-big:focus {


    box-shadow: none;
    background-color: #ffffff;
    background-position: 99% 50%;
}

.uname-icon {
    background: url(../images/login/uname_icon_unfocused.png) no-repeat scroll;
    background-color: #ffffff;
    background-position: 99% 50%;
}

.uname-icon:focus {
    background: url(../images/login/uname_icon_focused.png) no-repeat scroll;
}

.uname-icon:invalid {
    background: url("../images/login/uname_icon_invalid.png") no-repeat scroll;
}

.pwd-icon {
    background: url(../images/login/pwd_icon_unfocused.png) no-repeat scroll;
}

.pwd-icon:focus {
    background: url(../images/login/pwd_icon_focused.png) no-repeat scroll;
}

.pwd-icon:invalid {
    background: url(../images/login/pwd_icon_invalid.png) no-repeat scroll;
}

.uname-icon, .pwd-icon, .uname-icon:focus, .uname-icon:invalid, .pwd-icon:focus, .pwd-icon:invalid {
    width: 100%;
    background-color: #ffffff;
    background-position: 99% 50%;
}

.text-input-regular {
    height: 28px;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 1.2em;
    text-overflow: ellipsis;
}

.text-input-regular:focus {
    box-shadow: none;
    background-color: #ffffff;
    background-position: 99% 50%;
}

.btn {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 25px;
    background-color: #f4f3f1;
    text-decoration: none;
    text-align: center;
}

.primary-btn {
    background-image: linear-gradient(to top, #278473 0%, #3fc6cc 100%);
}

.primary-btn:active {
    background-image: linear-gradient(to top, #3fc6cc 0%, #278473 100%);
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.5);
}

.secondary-btn {
    background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
}

.secondary-btn:active {
    background: linear-gradient(0deg, #B1B1B1 0%, #777777 100%);
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.5);
}

.btn-big {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    padding: 3%;
}

.btn-big:active {
    padding-left: 6px;
}

.primary-btn-regular {
    min-width: 120px;
    height: 35px;
}

.primary-btn-regular:hover {
    color: #ffffff;
}

/* Main page */
.upper-margin {
    margin-top: 72px;
}

.filter-row {
}

.filter-row button {
    float: right;
    border: none;
}

.filter-row button:focus {
    outline: none;
}

.filter-row .text-input-regular {
    margin-right: 31px;
    float: right;
    width: 234px;
    height: 35px;
    color: #999999;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-style: italic;
    background: url(../images/common/finder.png) no-repeat scroll;
    background-color: #ffffff;
    background-position: 99% 50%;
}

.filter-row .primary-btn-regular {
    margin-right: 16px;
}

.item-container {
    position: relative;
    margin: 10px auto;
    width: 360px;
}

.item-container .starline {
    position: absolute;
    top: 214px;
    left: 0;
    width: 100%;
}

.item-container .starline img {
    padding-top: 5px;
}

.item-container .starline img:first-child {
    margin-left: 16px;
}

.invisible-star {
    display: none;
}

.item-container-content {
    margin: 0 auto;
    width: 321px;
}

.item-container .textual {
    min-height: 150px;
}

.item-container .details {
    height: 50px;
}

.item-container-content h1 {
    padding-bottom: 27px;
    border-bottom: 2px solid #3fc6cc;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.item-container-content p {
    width: 318px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    overflow: hidden;
}

.item-container-content .primary-btn-regular {
    float: right;
}

.item-container-content .price {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: inline;
    color: #288575;
}

.item-container-content .price span {
    color: #000000;
}